
@{
    ViewBag.Title = "AcceptOrder";
    Layout = "~/Views/Shared/_LayoutMobiePhone.cshtml";
}

<h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất và giao hàng đúng hạn.</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "NewHome")
</p>
