<a href="@Url.Action("Cart","Cart")" id="cart_quantity">
    <i class="fa fa-shopping-cart"></i>Giỏ hàng <span id="round_quantity" style="border-radius: 50%;font-size: 14px;padding: 2px 8px;color: #fff;background: #696763;">@ViewBag.TotalQuantity</span>
</a>
